{% extends "layouts/journey.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "casa/components/input/macro.njk" import casaGovukInput with context %}

{% block journey_form %}
  <div class="govuk-width-container">
    <h1 class="govuk-heading-l">Enter address manually</h1>
    <p class="govuk-body govuk-!-margin-bottom-0">
      <a href="/main/address-input" class="govuk-link">Find an address</a>
    </p>

    {{ casaGovukInput({
      label: {
        text: "Address Line 1"
      },
      classes: "govuk-!-width-two-thirds",
      value: formData.addressLine1,
      name: "addressLine1"
    }) }}
  
    {{ casaGovukInput({
      label: {
        text: "Town"
      },
      classes: "govuk-!-width-two-thirds",
      value: formData.town,
      name: "town"
    }) }}
    
    {{ casaGovukInput({
      label: {
        text: "Postcode"
      },
      classes: "govuk-!-width-two-thirds",
      value: formData.postcode,
      name: "postcode"
    }) }}

  </div>
{% endblock %}