{% extends "layouts/journey.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}

{% block journey_form %}

  <div class="govuk-width-container">

  <p>6 addresses found for <b>wr11nl</b> and <b>1</b>. <a href="#">Search again</a></p>

  {{ casaGovukRadios({
  name: "select-an-address",
  fieldset: {
  legend: {
  text: "Select an address",
  isPageHeading: true,
  value: formData.address,
  classes: "govuk-fieldset__legend--l"
  }
  },
  items: [
  {
  value: "1 Washington Street, Worcester, WR1 1NL",
  text: "1 Washington Street, Worcester, WR1 1NL"
  },
  {
  value: "10 Washington Street, Worcester, WR1 1NL",
  text: "10 Washington Street, Worcester, WR1 1NL"
  },
  {
  value: "11 Washington Street, Worcester, WR1 1NL",
  text: "11 Washington Street, Worcester, WR1 1NL"
  },
  {
  value: "101 Washington Street, Worcester, WR1 1NL",
  text: "101 Washington Street, Worcester, WR1 1NL"
  },
  {
  value: "110 Washington Street, Worcester, WR1 1NL",
  text: "110 Washington Street, Worcester, WR1 1NL"
  },
  {
  value: "111 Washington Street, Worcester, WR1 1NL",
  text: "111 Washington Street, Worcester, WR1 1NL"
  }
  ]
  }) }}
{% endblock %}